body
{
    background-color: rgb(26, 114, 114);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 700px;
}

.MessageBody
{
    height: 105px;
    width: 390px;
    background-color: rgb(235, 213, 210);
    border-radius: 15px;
    
    position: relative;
    outline: rgb(185, 177, 176) solid 3px;
    transition: 100ms;
}

.Icon
{
    width: 96px;
    height: 73px;
    position: absolute;
    bottom: 16px;
    left: 12px;
    transition: 100ms;
}

.Text
{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    width: 251.5px;
    height: 73px;
    position: absolute;
    right: 10px;
    bottom: 20px;
    transition: 100ms;
}

.CloseButton
{
    position: absolute;
    right: 15px;
    top: -15px;
    background-color: crimson;
    border: 1px solid rgb(44, 6, 14);
    text-decoration: none;
    border-radius: 100%;
    height: 25px;
    width: 25px;
    transition: 100ms;
    transition-delay: 200ms;
}

.MessageBody:hover
{
    box-shadow: 3px 3px 10px rgb(0 0 0 / 0.5);
    transition: 100ms;
    outline: rgb(185, 177, 176) solid 0px;
    cursor: default;
}

.MessageBody:hover .Text
{
    transition: 100ms;
    bottom: 25px;
}

.MessageBody:hover .Icon
{
    transition: 100ms;
    bottom: 18px;
}

.MessageBody:hover .CloseButton
{
    transition: 100ms;
    transition-delay: 50ms;
    top: 5px;
}

.CloseButton:hover
{
    cursor: pointer;
}
